* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  font-family: 'Bungee Inline', cursive;
  text-shadow: 1px 1px 1px black;
  background-image: url("https://e00-ar-marca.uecdn.es/claro/assets/multimedia/imagenes/2022/03/24/16481344390497.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #c4bcbc; }
  body h1 {
    text-align: center; }
  body .header1 {
    animation: backInLeft;
    animation-duration: 2s;
    margin: 20px auto; }
  body .header2 {
    animation: fadeInTopLeft;
    animation-duration: 2s;
    margin: 20px auto; }
  body .header3 {
    animation: backInUp;
    animation-duration: 2s;
    margin: 20px auto; }
  body .header4 {
    animation: fadeInTopRight;
    animation-duration: 2s;
    margin: 20px auto; }
  body .header5 {
    animation: backInRight;
    animation-duration: 2s;
    margin: 20px auto; }
  body h2 {
    margin: 20px auto;
    text-align: center; }
  body .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 10px;
    margin: 20px 20px; }
  @media screen and (max-width: 768px) {
    body .galeria {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-auto-rows: 150px;
      grid-gap: 10px;
      margin: 20px 20px; }
    body .text {
      opacity: 1;
      color: white;
      font-size: 1em;
      transition: opacity 400ms, transform 400ms; } }
  @media screen and (min-width: 768px) {
    body .text {
      opacity: 0;
      color: white;
      font-size: 1em;
      transition: opacity 400ms, transform 400ms; } }
  @media screen and (min-width: 1550px) {
    body .card:first-child {
      grid-column: 1 / 3;
      grid-row: 1 / 3; }
    body .card:nth-child(4) {
      grid-column: 4 / 5;
      grid-row: 1 / 3; }
    body .card:last-child {
      grid-column: 6 / 8;
      grid-row: 3 / 5; } }

.barra {
  opacity: 0.7; }

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0; }
  .footer .footer__redes .links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: stretch; }

@media screen and (min-width: 1400px) {
  .footer1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0; }
  .footer2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px; } }

@media screen and (max-width: 1400px) {
  .footer1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px; }
  .footer2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px; }
  .footer3 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px; }
    .footer3 .footer__redes .links {
      display: flex;
      flex-direction: row;
      list-style: none;
      align-items: stretch; } }

@media screen and (min-width: 1100px) {
  .footer3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px; }
    .footer3 .footer__redes .links {
      display: flex;
      flex-direction: row;
      list-style: none;
      align-items: stretch; } }

.facebook, .instagram {
  transition: .8s;
  border-radius: 50%; }

.facebook:hover, .instagram:hover {
  background-color: blue;
  box-shadow: 0 0 30px blue; }

.instagram:hover {
  background-color: #e60073;
  box-shadow: 0 0 30px #e60073; }

.tabla {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid;
  text-align: center; }

tbody tr:nth-child(odd) {
  background-color: #a5a2a4; }

tbody tr:nth-child(even) {
  background-color: #5c585c; }

form {
  margin: 20px auto; }

.formulario {
  border: solid grey 2px;
  margin: 20px 20px;
  padding: 20px 20px; }

.card {
  border-radius: 4px;
  display: grid;
  place-items: center;
  grid-template-areas: "main";
  overflow: hidden;
  cursor: pointer;
  text-decoration: none; }
  .card * {
    grid-area: main; }
  .card .image, .card .image-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms, filter 400ms; }
  .card .image-2 {
    aspect-ratio: 1 / 1; }
  .card .textos {
    opacity: 0;
    color: white;
    font-size: 1em;
    transition: opacity 400ms, transform 400ms; }

.card:is(:hover, :focus) > .image, .card:is(:hover, :focus) > .image-2 {
  transform: scale(1);
  filter: brightness(0.4); }

.card:is(:hover, :focus) > .text {
  transform: scale(1);
  opacity: 1; }

.card:is(:hover, :focus) > .textos {
  transform: scale(1.1);
  opacity: 1; }
