* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Bangers', cursive;
  font-family: 'Bungee Inline', cursive;
  text-shadow: 1px 1px 1px black;
  background-image: url("https://e00-ar-marca.uecdn.es/claro/assets/multimedia/imagenes/2022/03/24/16481344390497.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #c4bcbc; }
  body h1 {
    text-align: center; }
  body .header1 {
    animation: backInLeft;
    animation-duration: 2s;
    margin: 20px auto; }
  body .header2 {
    animation: fadeInTopLeft;
    animation-duration: 2s;
    margin: 20px auto; }
  body .header3 {
    animation: backInUp;
    animation-duration: 2s;
    margin: 20px auto; }
  body .header4 {
    animation: fadeInTopRight;
    animation-duration: 2s;
    margin: 20px auto; }
  body .header5 {
    animation: backInRight;
    animation-duration: 2s;
    margin: 20px auto; }
  body h2 {
    margin: 20px auto;
    text-align: center; }
  body .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 10px;
    margin: 20px 20px; }
  body .fotos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: height 2s; }
  body .fotos:hover {
    height: 300px; }
  body .fotos:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
  body .fotos:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 3 / 5; }

.barra {
  opacity: 0.7; }

.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  position: absolute;
  bottom: 0; }
  .footer .footer__redes .links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: stretch; }

@media screen and (min-width: 1100px) {
  .footer1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    position: absolute;
    bottom: 0; }
    .footer1 .footer__redes .links {
      display: flex;
      flex-direction: row;
      list-style: none;
      align-items: stretch; } }

@media screen and (max-width: 1100px) {
  .footer1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px; }
    .footer1 .footer__redes .links {
      display: flex;
      flex-direction: row;
      list-style: none;
      align-items: stretch; } }

.tabla {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid;
  text-align: center; }

tbody tr:nth-child(odd) {
  background-color: #a5a2a4; }

tbody tr:nth-child(even) {
  background-color: #5c585c; }

form {
  margin: 20px auto; }

.formulario {
  border: solid grey 2px;
  margin: 20px 20px;
  padding: 20px 20px; }
