.footer {
    display: flex;
    justify-content: space-between; 
    width: 90%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    .footer__redes{
        .links{
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: stretch;
        }
    }
}

@media screen and (min-width:1100px){
    .footer1 {
        display: flex;
        justify-content: space-between; 
        width: 90%;
        padding: 10px;
        position: absolute;
        bottom: 0;
        
        
        .footer__redes{
            .links{
                display: flex;
                flex-direction: row;
                list-style: none;
                align-items: stretch;
            }
        }
    }
}
@media screen and (max-width:1100px){
    .footer1 {
        display: flex;
        justify-content: space-between; 
        width: 90%;
        padding: 10px;

        
        
        .footer__redes{
            .links{
                display: flex;
                flex-direction: row;
                list-style: none;
                align-items: stretch;
            }
        }
    }
}