*{
    margin:0;
    padding: 0;
}
$tamaño-normal: 20px auto;
body{
    box-sizing: border-box;
    font-family: 'Stick No Bills', sans-serif;
    text-shadow: 1px 1px 1px black;
    background-image: url("https://e00-ar-marca.uecdn.es/claro/assets/multimedia/imagenes/2022/03/24/16481344390497.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 1.3rem;
    overflow-x: hidden;

    h1{
        text-align: center;
    }
    .header1{
        animation: backInLeft;
        animation-duration: 2s;
        margin: $tamaño-normal;
    }
    .header2{
        animation: fadeInTopLeft;
        animation-duration: 2s;
        margin: $tamaño-normal;
    }
    .header3{
        animation: backInUp;
        animation-duration: 2s;
        margin: $tamaño-normal;
    }
    .header4{
        animation: fadeInTopRight;
        animation-duration: 2s;
        margin: $tamaño-normal;
    }
    .header5{
        animation: backInRight;
        animation-duration: 2s;
        margin: $tamaño-normal;
    }
    h2{
        margin: $tamaño-normal;
        text-align: center;
    }
    .galeria{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        grid-auto-rows: 150px;
        grid-gap: 10px;
        margin: 20px 20px;
    }

    @media screen and (max-width:768px){
        .galeria{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
            grid-auto-rows: 150px;
            grid-gap: 10px;
            margin: 20px 20px;
        }
        .text {
            opacity: 1;
            color: white;
            font-size: 1em;
            transition: opacity 400ms, transform 400ms;
        }
    }
    @media screen and (min-width:768px){
        .text {
            opacity: 0;
            color: white;
            font-size: 1em;
            transition: opacity 400ms, transform 400ms;
        }
    }
    
    @media screen and (min-width:1550px){
    .card:first-child{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .card:nth-child(4){
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
    .card:last-child{
        grid-column: 6 / 8;
        grid-row: 3 / 5;
    }
    }
}

@import "barra";
@import "footer";
@import "tabla";
@import "suscribite";

form{
    margin: 20px auto;
}
.formulario{
    border: solid grey 2px;
    margin: 20px 20px;
    padding: 20px 20px;
}

.card{
    border-radius: 4px;
    display: grid;
    place-items: center;
    grid-template-areas: "main";
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    * {
        grid-area: main;
    };
    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 400ms, filter 400ms;
    };
    .image-2{
        @extend .image;
        aspect-ratio: 1 / 1;
    }
    .textos {
        opacity: 0;
        color: white;
        font-size: 1em;
        transition: opacity 400ms, transform 400ms;
    }
}
.tarjeta{
    text-decoration: none;
}

.card:is(:hover, :focus) > .image {
    transform: scale(1.1);
    filter: brightness(0.4);
}
.card:is(:hover, :focus) > .text {
    transform: scale(1);
    opacity: 1;
}
.card:is(:hover, :focus) > .textos {
    transform: scale(1.1);
    opacity: 1;
}

.trofeos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.trofeos__texto{
    text-align: center;
    color: white;
}

@media screen and (max-width:768px){
    .trofeos{
        display: grid;
        grid-template-columns: 1fr 1fr;}
}

.trofeos2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ligue-1{
    width: 200px;
    height: 250px;
}
.trofeos3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and(max-width:768px){
    .trofeos3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.trofeos4{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.finalissima{
    width: 150px;
    height: 200px;
}
.body-estadisticas{
    background-image: url("https://editorial.uefa.com/resources/0257-0f84229fa436-6230d0a4a4ea-1000/lionel_messi_barcelona_.jpeg");
}
.body-suscribite{
    background-image: url("https://elcomercio.pe/resizer/zNlYmHh7UfiLvLbUiBCIWAGb9LQ=/1200x800/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/KAHXTZ426FA4DFBYT6K5O36O7I.jpg");
}

.noticia-1{
    background-image: url("https://static.messi.com/wp-content/uploads/2022/06/WhatsApp-Image-2022-06-02-at-9.31.42-AM-2.jpeg?v=1654159373");
    
}
.noticia-2{
    background-image: url("https://static.messi.com/wp-content/uploads/2022/05/BA0E0638-63E3-42A7-AD19-6668AB029E1D.jpeg?v=1653045984");
    
}
.noticia-3{
    background-image: url("https://messi.com/wp-content/uploads/2022/06/WhatsApp-Image-2022-06-06-at-10.23.46-AM-1.jpeg");
    
}
.noticia-4{
    background-image: url("https://stadium-azteca.underdog.gs/soccerly/2020/06/16/1592311331.jpg");
    
}
.noticia-5{
    background-image: url("https://messi.com/wp-content/uploads/2022/04/WhatsApp-Image-2022-04-27-at-9.39.32-AM.jpeg?v=1651181483");
    
}
.noticia-6{
    background-image: url("https://static.messi.com/wp-content/uploads/2022/05/WhatsApp-Image-2022-05-07-at-12.59.20-PM.jpeg?v=1651931102");
    
}
.video-estonia{
    text-align: center;
}
@media screen and(max-width:520px){
    .video{
    width: 320px;
    height: 240px;
    }
}

@media screen and (min-width:1250px){
    .video{
        width: 720px;
        height: 480px;
    }
}
@media screen and (min-width:520px) and (max-width:720px){
    .video{
        width: 520px;
        height: 320px;
    }
}
