*{
    margin:0;
    padding: 0;

$color: rgb(196, 188, 188);
$medida: 20px auto;
}
body{
    font-family: 'Bangers', cursive;
    font-family: 'Bungee Inline', cursive;
    text-shadow: 1px 1px 1px black;
    background-image: url("https://e00-ar-marca.uecdn.es/claro/assets/multimedia/imagenes/2022/03/24/16481344390497.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $color;
    h1{
        text-align: center;
    }
    .header1{
        animation: backInLeft;
        animation-duration: 2s;
        margin: $medida;
    }
    .header2{
        animation: fadeInTopLeft;
        animation-duration: 2s;
        margin: $medida;
    }
    .header3{
        animation: backInUp;
        animation-duration: 2s;
        margin: $medida;
    }
    .header4{
        animation: fadeInTopRight;
        animation-duration: 2s;
        margin: $medida;
    }
    .header5{
        animation: backInRight;
        animation-duration: 2s;
        margin: $medida;
    }
    h2{
        margin: $medida;
        text-align: center;
    }
    .galeria{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        grid-auto-rows: 150px;
        grid-gap: 10px;
        margin: 20px 20px;
    }

    @media screen and (max-width:768px){
        .galeria{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
            grid-auto-rows: 150px;
            grid-gap: 10px;
            margin: 20px 20px;
        }
    }
    .fotos{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: height 2s;
    }
    .fotos:hover{
        height: 300px;
    }
    @media screen and (min-width:768px){
    .fotos:first-child{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .fotos:nth-child(4){
        grid-column: 2 / 4;
        grid-row: 3 / 5;
    }
    }
}

@import "barra";
@import "footer";
@import "tabla";
@import "suscribite";

form{
    margin: $medida;
}
.formulario{
    border: solid grey 2px;
    margin: 20px 20px;
    padding: 20px 20px;
}